Первое важное замечание - стиль кода. 
Код должен быть однооборазен.
1. пример про пробел между названием классов и первой скобки
лучше использовать 2ой вариант

.someClass{
 color:black; 
}

.someClass2 {
 color:black; 
}

------

2. пример отступы между классами (перенос строки)
лучше 2ой вариант

.someClass {
 color:black; 
}
.someClass2 {
 color:black; 
}

+++

.someClass {
 color:black; 
}

.someClass2 {
 color:black; 
}

-----

3. пример про цвета. Не пиши white/black и тд. используй #hex или rgba, если тебе нужна прозрачность(как в футере).
если пишешь в hexe - пиши полностью #000000, a ne #000
лучше 2ой вариант

.someClass {
 color:#000000;
}

.someClass2 {
 color:rgba(0,0,0,0.6) 
}

----- 
4. пример про кавычки. кавычки тоже в файле должны быть одного стиля - или ' или ""
так неверно
.someClass {
 font-family: 'PT Sans', sans-serif;
}

.someClass2 {
 font-family: "Arial", sans-serif;
}

это общие замечания по всему файлу цсс. я не буду писать в каких конкретно местах, думаю понятно что я имел в виду.

ГЛОБАЛЬНЫЕ СТИЛИ у h1-h6, p, ul, ol, - нужна скидывать , пройдись по всему файлу.
я дошел до 3\4 стилей и запутался в твоих стилях в порядке.
Сделай нормальную очередность.
Вначале идут все стили по главной странице сверху вних, потом по каталогу. 


body{
    margin: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

тут был старый твой вижуал хидден. вот правильный

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.site-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

ul {
  запрещено скидывать глобально свойства по тегам. нужно применять там, где надо
  list-style: none;
}
figure{
  запрещено скидывать глобально свойства по тегам. нужно применять там, где надо
    margin: 0;
}

.site-navigation-item:link{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

.site-navigation-item:hover{
  font-size: 14px;
  color: rgb(129, 179, 210);
}
.site-navigation-item:active{
  font-size: 14px;
  color: rgb(118, 99, 87);
}

h3{
    глобальный h3? к чему он относится?
    font-size: 21px;
}


.find-hotel{
  background-color: #766357;
  ширину тоже отрегулируй паддиногм
  width: 568px;
  фикс высоты не должно быть, должна регулироваться паддингом
  height: 86px;
  color: white;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.find-hotel:hover{
    background-color: #604e43;
}

.find-hotel:active{
    background-color: #503e33;
    color: #857871;
}

форма должна иметь позишин асболют и привязана к к блоку, в котором находится кнопка.
размеры высота \ ширина не задаются. всё регулируется отступами и содержимым
.modal-find{
  background-color: #81b3d2;
  color:white;    
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 700;    
}
.modal-find:hover{
    background-color: #669ec0;
}
.modal-find:active{
    background-color: #5496bd;
    color: #88b6d1;
}
.filter{
    background:url("../img/filter-background.jpg") no-repeat; 
    background-size:cover;
}
все кнопки не имеют фикс ширин\высот. регулировка паддингами
.open-button{
    width: 141px;
    height: 40px;
    border:1px solid white;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    background-color: transparent;
}

.open-button:hover{
    color:black;
    background-color: white;
}

Что за хлебные крошки? я на нашел таких стилей в файле.. может мимо смотрел
.breadcrumbs-active{
    color:#81b3d2;
    text-decoration: none;
}
.breadcrumbs{
    color:#cacaca;
    text-decoration: underline dotted #81b3d2;
}

.breadcrumbs:hover{
    color:#81b3d2;
}
.breadcrumbs:active{
    color: black;
    text-decoration: none;
}

тоже самое
.item-desc{
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
    padding: 5px 25px;
    color:white;
    text-decoration: none;
}
.item-desc:hover{
    background-color:#669ec0;
}
.item-desc:active{
    background-color: #669ec0;
    color:#88b6d1;
}
.item-booking{
    background-color: #766357;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    width: 142px;
    height: 27px;
 
}
.item-booking:hover{
    background-color: #604e43;
}
.item-booking:active{
    background-color: #503e33;
    color:#857871;
}

item-booking i item-descr имееют общие стили - отступы сверху\снизу, шрифт, но есть и свои личные.
лучше сделать какую-то button-catalog.button-booking i button-catalog.buttom-descr , где в 
button-catalog будут общие стили, в личных классах- свои стили

.hotel-name{
    color:black;
    text-decoration: none;
}
.hotel-name:hover{
    color:#81b3d2;
}
.hotel-name:active{
    color:#b2b2b2;
}
/*STYLING NAVIGATION|||||||||||||||||||||||||||*/

кусок навигейшена вначале файла, кусок тут?
.site-navigation{
    display: flex;
    align-items:flex-start;
    padding-left: 6%;
    padding-right: 6%;
    паддинги в кикселях нормально укажи
    margin: 0;
    list-style: none;
  
       
}
.header-logo{
    width: 140px;
    height: 72px;
    position: absolute;
    left:50%;
    margin-left: -70px;
    top:0;
    z-index: 10;
  логотип должен позиционироваться от ближайшего родителя.... что-то кому-то нужно дать
}


.site-navigation>li{
    width: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  дай лишкам класс
}

.site-navigation > li:nth-child(1),
.site-navigation > li:nth-child(2){
    text-align: left;
}

.site-navigation > li:nth-child(3),
.site-navigation > li:nth-child(4) {
    text-align: right;
}

.site-navigation > li:nth-child(3) {
    margin-left: auto;
    padding-right: 27px;
}

.site-navigation > li:nth-child(2) {
    padding-left: 27px;
}

/*MAIN///////////////////////////////*/
.slogan{
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 355px;
    padding-right: 355px;
  слева справа паддинги не нужны. h3 i p будут центроваться за счет их маргин лефт и райт ауто
}
.slogan h3{
    не ширину, а максширину
    width: 430px;
    text-align: center;
    зачем лефт? нужно левый и правый ауто сделать
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-right: 0;
}
.slogan p{
    margin-bottom: 50px;
    width: 490px;
    margin: 0;
   максвиз, выравнимание по центру
}
.amenities-list{
    width: 1200px;
   зачем тут это? оно ж ниже переопределяется
}
.features-item,
.amenities-list,
.features-item-list{
    display: flex;
    padding: 0;
    width: 100%;
}
.features-image-sedona{
    background-image: url("../img/sedona.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:800px;
}
.features-image-devil{
    background-image: url("../img/Devil's%20bridge.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width:800px;
}

у девил и седона много одинаковых стилей. подумай что с этим можно сделать (по аналогии кнопок на 2ой странице)

.features-list{
    padding: 0;
    margin: 0;
    
}
.features-item{
    position: relative;
}
.features-item:last-of-type{
 всякие пустые теги которые ты зачем-то написал и не ипользуешь удаляй. это к глобальным правкам относится
}
.features-info{
    width: 400px;
    background-color: #81b3d2;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 60px;
}
.features-item-list{
    background-color: #eeeeee;
    color: black;
    width: 100%;
}

.features-item-list-last {
    width: 33.33%;  
    padding-top:48px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-info p,
.amenities-item p{
    max-width: 303px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
 }
.features-info h3,
.amenities-item h3{
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 155px;
}
.amenities-item{
    position: relative;
    padding-top: 161px;
    padding-bottom: 82px;
    padding-left: 60px;
    padding-right: 60px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.amenities-item:before {
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.amenities-item:nth-of-type(1)::before{
    background-image: url('../img/icon-1.svg');
    width: 75px;
    height: 72px;
}
.amenities-item:nth-of-type(2)::before{
    background-image: url('../img/icon-3.svg');
    width: 74px;
    height: 70px;
}

.amenities-item:nth-of-type(3)::before{
    background-image: url('../img/icon-2.svg');
    width: 64px;
    height: 76px;
}
.features-info-bottom{
    width: 400px;
}
.features-item-list h3{
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 155px;
}
.features-item-list p{
    max-width: 303px;
    margin: 0;
    text-align: center;
}
.interesting{
    text-align: center;
    margin: auto;
    position: relative;
}
.interesting-text{
    margin-top: 50px;
    margin-bottom: 45px;
}
.interesting-text h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 36px;
  вот к примеру у этого h2 остались встроенные маргины сверху и снизу. их нужно удалять.
}
.interesting-text p {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
.booking-map{
/*    width: 1718px;*/
  шта? 1718?
    height: 748px;
    display: flex;
    justify-content: center;
    background-image: url("../img/map.jpg");
    background-size: contain;
    text-align: center;
}
/*SEARCH-FORM///////////////////////////*/
input::-webkit-input-placeholder,
.search-form{
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.search-form{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 55px;
    background-color: white;
    background-position: top center;
    text-align: center;
    width: 460px;
    height: 310px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.input-item {
    position: relative;
    margin-bottom: 30px;
}
.input-item input {
    min-width: 325px;
    height: 32px;
    padding-left: 13px;
    margin-left: 21px;
}

.input-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid transparent;
}

.adult-input {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;    
}

.calendar-button {
    border: none;
    fill: #cacaca;
    outline: none;
    position: absolute;
    right: 1%;
    top: 8px;
    background-color: transparent;
}
.amount {
    display: flex;
    margin-bottom: 54px;
    justify-content: flex-start;
    position: relative;
}
.adult-amount {
    display: flex;
    align-items: center;
}
.children-amount {
    margin-left: 58px;
    position: relative;
}

.adult-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;    
}

.adult-amount label {
    margin-right: 40px;
}

.adult-amount:first-child {
    margin-right: auto;
}
.input-date:hover{
    background-color: #ebebeb;
}
.input-date:focus{
    background-color: #ffffff;
}


/*STYLING .main-section///////////////////////////////////*/
.main-section{
    display: flex;
    justify-content: center;
    background-image: url("../img/background-picture.jpg"); 
    background-size: cover;
    align-items: center;
    position: relative;
    height: 600px;
}

.main-section::after {
    content: '';
    width:100%;
    height: 57px;
    position: absolute;
    left:0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/intro-mask.svg');
}
.main-section>img:first-child{
}

/*STYLING FOOTER!!!!///////////////////////////////*/
.social-networks-buttons,
.social-buttons-list
{
    display: flex;
    justify-content: center;
}
.social-button{
    margin-right: 6px;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    }
.social-link:hover{
    background-color: #669ec0;
}

.social-link:active svg path {
    fill:#88b6d1;
}

.main-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  выравнимание спейс-бетвин и отспупы слева справа через паддинги
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 1200px;
  не 12000, а 100%
    opacity: 0.9;
    margin-top: -87px;
  откуда маргин топ -87пх ? такого не должно быть
}
.inner-footer{
    margin-top: 0px;
    position: relative;
}
.social-buttons-list,
.main-footer h2{
    margin: 0;
}
.copyright{
    display: flex;
    align-items: center;
}
.copyright p{
    margin: 0;
    transform: translateX(-10%);
}
.logo-htmlacademy{
    fill:black;
}
.logo-htmlacademy:hover{
    fill:#81b3d2;
}
.logo-htmlacademy:active{
    fill:#ebebeb;
}

/*?///////////////////////////////////*/
/*////////////////////////////////////////////*/
/*//////////////////INNER PAGE////////////////////////*/
/*//////////////////////////////////////////////*/
.filter form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-amenities{
    display: flex;
    color: #ffffff;
}

/*//////////STYLING .filter-range//////////////*/

.filter-range {
  width: 330px;
  margin: 0px auto; 
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*///////////////////////Styling .checkboxes////////////////////*/

.filter{
    color: #ffffff;
}
.main-search-menu{
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 30px;
    padding-top: 25px;
}
label{
    position: relative;
}

.checkbox::before {
    content:""  ;
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    left: -15px;
    top: 0;
    cursor: pointer;
}
.checkbox:checked{
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}
.filter label{
    font-size: 14px;
    line-height: 45px;
}
/*//////////////Styling .sorting////////////*/
.sorting{
    display: flex;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}
.sorting h3,
.sorting p,
.sorting ul{
    margin: 0;
}
.sorting h3{
    margin: 0;
    padding-right: 48px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
.sorting-list{
    display: flex;
}
.sorting-list li{
    margin-right: 32px;
}
.sorting>.arrows{
    display: flex;
    margin-left: auto;
    padding: 0;
}
.arrow-down{
    margin-left: 12px;
}

/*////////////Styling Catalog////////*/
.catalog ul{
    margin: 0;
    padding: 0;
}
.catalog-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid  #e5e5e5;
    padding: 0 72px;
    padding-top: 30px;
    padding-bottom: 29px;
}
.catalog-item a{
    height: 90px;
}
.catalog-item-preview{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.catalog-item-preview h2{
    margin: 0;
}
.catalog-item-info{
    display: flex;
}
.catalog-item-info p{
    margin: 0;
    padding-bottom: 15px;
    padding-top: 12px;
}
.catalog-left-column{
    padding-right: 5px;
}
.catalog-item-rating ul{
    display: flex;
    margin-bottom: 40px;
}
.catalog-item-rating{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalog-item-rating li{
    padding-right: 4px;
}
.catalog-item-rating span{
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
}
