/* ............ОБЩИЕ СТИЛИ...............*/
body{
    margin: 0;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}
/*..............MAIN PAGE/INNER PAGE.................*/
/*...............HEADER AND NAVIGATION............*/
.site-navigation {
    display: flex;
    align-items:flex-start;
    padding: 0px 72px;
    margin: 0;
    list-style: none;
}

.site-navigation-link:link {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  line-height: 26px;
}

.site-navigation-link:hover {
  font-size: 14px;
  color: rgb(129, 179, 210);
}

.site-navigation-link:active {
  font-size: 14px;
  color: rgb(118, 99, 87);
}
.main-navigation {
    position: relative;
}

.header-logo {
    width: 140px;
    height: 72px;
    position: absolute;
    left:50%;
    margin-left: -70px;
    top:0;
    z-index: 10;
}

.site-navigation-item {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width:20%;
}

.site-navigation-item:nth-of-type(1),
.site-navigation-item:nth-of-type(2){
    text-align: left;
}

.site-navigation-item:nth-of-type(3),
.site-navigation-item:nth-of-type(4) {
    text-align: right;
}

.site-navigation-item:nth-of-type(3) {
    margin-left: auto;
/*
    другой паддинг будет
    padding-right: 180px;
*/
}

/*
.site-navigation-item:nth-of-type(2) {
  другой паддинг будет
    padding-left: 150px;
}
*/

/*..............STYLING main................*/
/*............STYLING .main-section.....................*/
.main-section{
    display: flex;
    justify-content: center;
    background-image: url("../img/background-picture.jpg"); 
    background-size: cover;
    align-items: center;
    position: relative;
    height: 510px; 
}

.main-section::after {
    content: '';
    width:100%;
    height: 57px;
    position: absolute;
    left:0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/intro-mask.svg');
}

/*............. .slogan..............*/
.slogan {
    padding-top: 55px;
    padding-bottom: 50px;
}

.slogan h3 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: 21px;
    line-height: 26px;
}
.slogan p {
    text-align: center;
    margin: 0;
    line-height: 26px;
}

/*............ section .features................*/
.features-list {
    padding: 0;
    margin: 0;
    list-style: none;    
}

.features-item,
.amenities-list,
.features-item-list {
    display: flex;
    padding: 0;
    width: 100%;
    list-style: none;
}

.features-item {
    position: relative;
}

.features-info {
    width: 400px;
    background-color: #81b3d2;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 60px;
}

.features-info p,
.amenities-item p {
    max-width: 305px; 
    text-align: center;
    margin: 0;
    margin-top: 20px;
    line-height: 21px;
}

.features-info h3,
.amenities-item h3{
    line-height: 21px;
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 155px;
}

.sedona-image {
    background-image: url("../img/sedona.jpg");
}

.bridge-image {
    background-image: url("../img/Devil's-bridge.jpg");
}

.features-image {
    background-repeat: no-repeat;
    background-size:cover;
    width:800px;
    margin: 0;
}

.amenities-item {
    position: relative;
    padding-top: 161px;
    padding-bottom: 82px;
    padding-left: 60px;
    padding-right: 60px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amenities-item:before {
    content: '';
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.amenities-item:nth-of-type(1)::before {
    background-image: url('../img/icon-1.svg');
    width: 75px;
    height: 72px;
}

.amenities-item:nth-of-type(2)::before {
    background-image: url('../img/icon-3.svg');
    width: 74px;
    height: 70px;
}

.amenities-item:nth-of-type(3)::before {
    background-image: url('../img/icon-2.svg');
    width: 64px;
    height: 76px;
}

.features-item-list {
    background-color: #eeeeee;
    color: black; хекс
    width: 100%;
}

.features-item-list-last {
    width: 33.33%;  
    padding-top:48px;
    padding-bottom: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-item-list h3 {
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 155px;
    line-height: 21px;
}
.features-item-list p {
    max-width: 303px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    line-height: 21px;
    
}

/*........... section .booking.................*/
.interesting {
    text-align: center;
    position: relative;
}

.interesting-text {
    margin-top: 50px;
    margin-bottom: 45px;
}

.interesting-text h2 {
    margin:0;
    font-size: 30px;
    line-height: 36px;
}

.interesting-text p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0;
    margin-top: 32px;
}

.find-hotel {
  background-color: #766357;
  padding: 28px 140px;
  color: white;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.find-hotel:hover {
    background-color: #604e43;
}

.find-hotel:active {
    background-color: #503e33;
    color: #857871;
}

input::-webkit-input-placeholder,
.search-form{
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.search-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 315px;
    padding: 55.5px;
    padding-bottom: 49px;
    padding-top: 49px;
    background-color: white;
    background-position: top center;
    text-align: center;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.input-item {
    position: relative;
    margin-bottom: 30px;
}
.input-item input {
    min-width: 325px;
    height: 32px;
    padding-left: 13px;
    margin-left: 21px;
}

.input-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid transparent;
}

.calendar-button {
    border: none;
    fill: #cacaca;
    outline: none;
    position: absolute;
    right: 5px;
    top: 6px; 
    background-color: transparent;
    cursor: pointer;
}

.amount {
    display: flex;
    margin-bottom: 54px;
    justify-content: flex-start;
    position: relative;
}
.adult-amount {
    display: flex;
    align-items: center;
}

.adult-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer; 
    position: relative;
}

/*.minus::after{
    content: "";
    position: absolute;
    background-image: url(../img/minus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    outline: 1px solid blue;
}

.plus::after{
    content: "";
    position: absolute;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-color: #a9a9a9;
    cursor: pointer;
    left: 16px;
    top:16px;
    width: 38px;
    height:38px;
}*/


.adult-input {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;    
}

.adult-amount label {
    margin-right: 40px;
}

.adult-amount:first-child {
    margin-right: auto;
}
.input-date:hover{
    background-color: #ebebeb;
}
.input-date:focus{
    background-color: #ffffff;
}

.modal-find {
  background-color: #81b3d2;
  color:white;    
  padding: 20px 0px;
  font-size: 21px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 700;    
}

.modal-find:hover {
    background-color: #669ec0;
}

.modal-find:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.booking-map{
    padding-top: 593px;
    display: flex;
    justify-content: center;
    background-image: url("../img/map.jpg");
    background-size: contain;
    text-align: center;
}

/*..............FOOTER..................*/
.social-networks-buttons,
.social-buttons-list {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 33.33%;
}

.social-button:not(:last-of-type) {
    margin-right: 6px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    }

.social-link:hover{
    background-color: #669ec0;
}

.social-link:active svg path {
    fill:#88b6d1;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0.9;
    box-sizing: border-box;
}

.inner-footer {
    margin-top: 0px;
    position: relative;
}

.social-buttons-list,
.main-footer h2 {
    margin: 0;
    padding: 0;
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.copyright p {
    transform: translateX(-10%);
}

.logo-htmlacademy {
    fill:black;
}

.logo-htmlacademy:hover {
    fill:#81b3d2;
}

.logo-htmlacademy:active {
    fill:#ebebeb;
}

/*?///////////////////////////////////*/
/*////////////////////////////////////////////*/
/*//////////////////INNER PAGE////////////////////////*/
/*//////////////////////////////////////////////*/


/*............ FILTER................*/
/*..............checkboxes................*/
.main-search-menu fieldset {
    border: 0px;
    border-color: transparent;
    padding: 0;
    margin: 0;
}
.main-search-menu fieldset:last-child {
    margin-left: auto;
}

.main-search-menu fieldset:nth-child(2){
    margin-left: 110px;
}

.filter {
    color: #ffffff;
    background:url("../img/filter-background.jpg") no-repeat; 
    background-size:cover;
}

.main-search-menu{
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 30px;
    padding-top: 25px;
}

.filter-infrastructure-item,
.filter-amenities-item {
    list-style: none;
}

label{
    position: relative;
}

.checkbox input[type="checkbox"] + .checkbox-indicator::before {
    content:""  ;
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    left: -40px;
    top: -3px;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
    background-image: url("../img/checkbox-on.svg");
}

.checkbox:checked{
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}
.filter label{
    font-size: 14px;
    line-height: 45px;
    cursor: pointer;
}

/*...............filter range...................*/
/*
.filter-range {
  width: 330px;
  margin: 50px auto; 
  color: #ffffff;
  text-transform: uppercase;
}
*/

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/*//////////////Styling .sorting////////////*/
.sorting {
    display: flex;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.sorting h3,
.sorting p,
.sorting ul {
    margin: 0;
    list-style: none;
}

.sorting h3 {
    margin-right: 48px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-list {
    display: flex;
}

.sorting-list li {
    margin-right: 32px;
}

.sorting>.arrows {
    display: flex;
    margin-left: auto;
    padding: 0;
}

.arrows>li:last-child {
    margin-left: 12px;
}

.sorting-item-active {
    color:#81b3d2;
    text-decoration: none;
}

.sorting-item {
    color:#cacaca;
    text-decoration: underline dotted #81b3d2;
}

.sorting-item:hover {
    color:#81b3d2;
}

.sorting-item:active {
    color: black;
    text-decoration: none;
}


/*////////////Styling Catalog////////*/
.catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid  #e5e5e5;
    padding: 0 72px;
    padding-top: 30px;
    padding-bottom: 29px;
}

.catalog-item-image {
    margin: 0;
}

.catalog-item-preview {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.catalog-item-preview h2 {
    margin: 0;
}

.catalog-item-info {
    display: flex;
}

.catalog-item-info p {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 12px;
}

.catalog-left-column {
    margin-right: 5px;
}

.catalog-item-rating ul {
    display: flex;
    margin-bottom: 40px;
}

.catalog-item-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.catalog-item-rating li {
    margin-right: 4px;
}

.catalog-item-rating span {
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
}

.button-catalog {
    padding: 5px 25px;
    color:#ffffff;
    text-decoration: none;
}
.button-desc {
    background-color: #81b3d2;
}
.button-booking {
    background-color: #766357;
}

.button-desc:hover {
    background-color:#669ec0;
}

.button-desc:active {
    background-color: #669ec0;
    color:#88b6d1;
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active {
    background-color: #503e33;
    color:#857871;
}

.hotel-name {
    color:black;
    text-decoration: none;
}

.hotel-name:hover {
    color:#81b3d2;
}

.hotel-name:active {
    color:#b2b2b2;
}

.filter form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}