/* ............ОБЩИЕ СТИЛИ...............*/
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/*..............MAIN PAGE/INNER PAGE.................*/
/*...............HEADER AND NAVIGATION............*/
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px 72px;
    margin: 0;
    list-style: none;
}

.site-navigation-link:link {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    line-height: 26px;
}

.site-navigation-link:hover {
    font-size: 14px;
    color: rgb(129, 179, 210);
}

.site-navigation-link:active {
    font-size: 14px;
    color: rgb(118, 99, 87);
}

.main-navigation {
    position: relative;
}

.header-logo {
    width: 140px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 0;
    z-index: 10;
}

.site-navigation-item {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
}

.site-navigation-item:nth-of-type(2) {
    padding-left: 30px;
}

.site-navigation-item:nth-of-type(3) {
    padding-right: 30px;
}

.site-navigation-item:nth-of-type(1),
.site-navigation-item:nth-of-type(2) {
    text-align: left;
}

.site-navigation-item:nth-of-type(3),
.site-navigation-item:nth-of-type(4) {
    text-align: right;
}

.site-navigation-item:nth-of-type(3) {
    margin-left: auto;
    /*
    другой паддинг будет
    padding-right: 180px;
*/
}

/*
.site-navigation-item:nth-of-type(2) {
  другой паддинг будет
    padding-left: 150px;
}
*/

/*..............STYLING main................*/
/*............STYLING .main-section.....................*/
.main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #e2f1f8;
    background-image: url("../img/background-picture.jpg");
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 510px;
}

.main-section::after {
    content: '';
    width: 100%;
    height: 57px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/intro-mask.svg');
}

/*............. .slogan..............*/
.slogan {
    padding-top: 55px;
    padding-bottom: 50px;
}

.slogan h3 {
    text-align: center;
    margin-bottom: 27px;
    margin-top: 5px;
    font-size: 21px;
    line-height: 26px;
}

.slogan p {
    text-align: center;
    margin: 0;
    line-height: 26px;
}

/*............ section .features................*/
.features-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item,
.amenities-list,
.features-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    width: 100%;
    list-style: none;
}

.features-item {
    position: relative;
}

.features-info {
    width: 400px;
    background-color: #81b3d2;
    color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 60px;
}

.features-info p,
.amenities-item p {
    max-width: 305px;
    text-align: center;
    margin: 0;
    margin-top: 23px;
    line-height: 21px;
}

.features-info h3,
.amenities-item h3 {
    line-height: 21px;
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 151px;
}

.sedona-image {
    background-color: #eeae9f;
    background-image: url("../img/sedona.jpg");
}

.bridge-image {
    background-color: #eeae9f;
    background-image: url("../img/devil's-bridge-picture.jpg");
    background-position: 0% 53%;
}

.features-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    margin: 0;
}

.amenities-item {
    position: relative;
    padding-top: 161px;
    padding-bottom: 82px;
    padding-left: 55px;
    padding-right: 55px;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.amenities-item:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.amenities-item:nth-of-type(1)::before {
    background-image: url('../img/icon-1.svg');
    width: 75px;
    height: 72px;
}

.amenities-item:nth-of-type(2)::before {
    background-image: url('../img/icon-3.svg');
    width: 74px;
    height: 70px;
}

.amenities-item:nth-of-type(3)::before {
    background-image: url('../img/icon-2.svg');
    width: 64px;
    height: 76px;
}

.features-item-list {
    background-color: #eeeeee;
    color: black;
    width: 100%;
}

.features-item-list-last {
    width: 33.33%;
    padding-top: 48px;
    padding-bottom: 59px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features-item-list h3 {
    font-size: 21px;
    text-align: center;
    margin: 0;
    max-width: 155px;
    line-height: 21px;
}

.features-item-list p {
    max-width: 279px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
    line-height: 21px;

}

/*........... section .booking.................*/
.interesting {
    text-align: center;
    position: relative;
}

.interesting-text {
    margin-top: 50px;
    margin-bottom: 48px;
}

.interesting-text h2 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
}

.interesting-text p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0;
    margin-top: 24px;
}

.find-hotel {
    background-color: #766357;
    padding: 31px 118px;
    color: white;
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 570px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}

.find-hotel:hover {
    background-color: #604e43;
}

.find-hotel:active {
    background-color: #503e33;
    color: #857871;
}

input::-webkit-input-placeholder,
.search-form {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.search-form {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 458px;
    left: 315px;
    top: 0px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 55px;
    padding-top: 55px;
    background-color: #fbfbfb;
    -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.search-form-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.search-form-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.input-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-bottom: 31px;
}

.input-item input {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 40px;
    margin-left: 17px;
    min-height: 37px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.input-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
}

.calendar-button {
    border: none;
    fill: #cacaca;
    outline: none;
    position: absolute;
    right: 5px;
    top: 6px;
    background-color: transparent;
    cursor: pointer;
}

.calendar-button:hover {
    fill: #000000;
}

.calendar-button:active {
    fill: #81b3d2;
}

.amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
}

.adult-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.adult-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #a9a9a9;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;
    position: relative;
}

.adult-button:hover {
    color: #000000;
}

.adult-button:active {
    color: #81b3d2;
}

.adult-input {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #0e0e0e;
    border: none;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.adult-amount label {
    margin-right: 40px;
}

.adult-amount:nth-of-type(2) label {
    margin-right: 28px;
}

.adult-amount:first-child {
    margin-right: auto;
}

.input-date:hover {
    background-color: #ebebeb;
}

.input-date:focus {
    background-color: #ffffff;
}

.modal-find {
    background-color: #81b3d2;
    color: white;
    padding: 17px 0px;
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.modal-find:hover {
    background-color: #669ec0;
}

.modal-find:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.booking-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 593px;
}

.booking-map > iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #f2f1ef;
    background-image: url("../img/map.jpg");
}
/*..............FOOTER..................*/
.social-networks-buttons,
.social-buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    width: 33.33%;
    padding-left: 25px;
    padding-right: 25px;
}

.social-button:not(:last-of-type) {
    margin-right: 6px;
}

.social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-link:hover {
    background-color: #669ec0;
}

.social-link:active path {
    fill: #88b6d1;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 34px;
    padding-bottom: 38px;
    padding-left: 11px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-footer {
    margin-top: 0px;
    position: relative;
}

.social-buttons-list,
.main-footer h2 {
    margin: 0;
    padding: 0;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33.33%;
    padding-left: 6px;
    padding-right: 6px
}

.copyright p {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    margin: 0;
}

.logo-htmlacademy {
    fill: black;
}

.logo-htmlacademy:hover {
    fill: #81b3d2;
}

.logo-htmlacademy:active {
    fill: #ebebeb;
}

/*?///////////////////////////////////*/
/*////////////////////////////////////////////*/
/*//////////////////INNER PAGE////////////////////////*/
/*//////////////////////////////////////////////*/


/*............ FILTER................*/
/*..............checkboxes................*/
.main-search-menu fieldset {
    border: 0px;
    border-color: transparent;
    padding: 0;
    margin: 0;
}

.main-search-menu fieldset:last-child {
    margin-left: auto;
    margin-bottom: 10px;
}

.main-search-menu fieldset:nth-child(2) {
    margin-left: 120px;
}

.filter {
    color: #ffffff;
    background-color: #6a92b6;
    background: url("../img/filter-background.jpg") no-repeat;
    background-size: cover;
    background-position: 0 15%;
}

.main-search-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 20px;
    padding-top: 27px;
}

.main-search-menu legend {
    font-size: 16px;
    font-weight: 700;
}

.filter-infrastructure-item,
.filter-amenities-item {
    list-style: none;
    margin: 0;
    margin-top: 16px;
}

label {
    position: relative;
}

.checkbox input[type="checkbox"] + .checkbox-indicator::before {
    content: "";
    position: absolute;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    left: -41px;
    top: -2px;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    background-image: url("../img/checkbox-on.svg");
}

.checkbox input[type="checkbox"]:focus + .checkbox-indicator::before {
    outline: 2px solid #4D90FE;
}

.filter label {
    font-size: 14px;
    line-height: 45px;
    cursor: pointer;
}

/*...............filter range...................*/

.filter-range-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    padding-left: 14px;
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 31px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 51.5px;
}

.max-price {
    margin-right: 12px;
}

.min-price {
    margin-right: 4px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 3px 85px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

/*//////////////Styling .sorting////////////*/
.sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.sorting h3,
.sorting p,
.sorting ul {
    margin: 0;
    list-style: none;
    font-size: 12px;
}

.sorting h3 {
    margin-right: 48px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sorting-list li {
    margin-right: 32px;
}


.arrow-down:hover {
    fill: #000000;
}

.arrow-down:active {
    fill: #81b3d2;
}

.sorting > .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 0;
}

.arrows > li:last-child {
    margin-left: 12px;
}

.sorting-item-active {
    color: #81b3d2;
    text-decoration: none;
}

.sorting-item {
    color: #cacaca;
    -webkit-text-decoration: underline dotted #81b3d2;
    text-decoration: underline dotted #81b3d2;
}

.sorting-item:hover {
    color: #81b3d2;
}

.sorting-item:active {
    color: black;
    text-decoration: none;
}


/*////////////Styling Catalog////////*/
.catalog ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 72px;
    padding-top: 30px;
    padding-bottom: 28px;
}

.catalog-item-image {
    margin: 0;
    margin-bottom: -1px;
}

.catalog-item-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 3px;
    margin-top: -6px;
}

.catalog-item-preview h2 {
    margin: 0;
}

.catalog-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item-info p {
    margin: 0;
    margin-bottom: 16px;
    margin-top: 12px;
}

.catalog-left-column {
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-right-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.catalog-item-rating ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 44px;
}

.catalog-item-rating {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.catalog-item-rating li {
    margin-right: 4px;
}

.catalog-item-rating span {
    color: #666666;
    background-color: #f2f2f2;
    padding: 5px 15px;
}

.button-catalog {
    padding: 5px 17px;
    color: #ffffff;
    text-decoration: none;
}

.button-desc {
    background-color: #81b3d2;
}

.button-booking {
    background-color: #766357;
}

.button-desc:hover {
    background-color: #669ec0;
}

.button-desc:active {
    background-color: #669ec0;
    color: #88b6d1;
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active {
    background-color: #503e33;
    color: #857871;
}

.hotel-name {
    color: black;
    text-decoration: none;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #b2b2b2;
}
